In [1]:
#importing the libraries
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset
dataset = pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset = pd.get_dummies(dataset, drop_first = True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [6]:
independent = dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent = dataset[['charges']]

In [7]:
#Standardisation
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
#to calculate mean and variance
independent = sc.fit_transform(independent)
independent = sc.transform(independent)

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [8]:
#GridSearch
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['squared_error', 'friedman_mse', 'poisson'], 'max_features':['auto', 'sqrt', 'log2'], 'n_estimators':[10, 100]}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3, n_jobs = -1) 
#fitting the model for grid search
grid.fit(independent, dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
30 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
18 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
12 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.81847421 0.83360705 0.81661406 0.83397242
        nan        nan 0.81419376 0.83581354 0.81905559 0.83512004
        nan        nan 0.81989253 0.83438807 0.81398172 0.83458652]
  warnings.warn(
C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [9]:
#print best parameter after tuning
#print(grid.best_params_)
result = grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 100}:

In [10]:
table = pd.DataFrame.from_dict(result)

In [11]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004553,0.005212,0.000000,0.000000,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
1,0.000457,0.000577,0.000000,0.000000,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
2,0.057859,0.006332,0.003125,0.006250,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.849131,0.750791,0.844720,0.817373,0.830356,0.818474,0.035643,9
3,0.463851,0.006945,0.015722,0.000079,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.859755,0.777724,0.862075,0.828735,0.839746,0.833607,0.030589,6
4,0.049739,0.003856,0.006250,0.007655,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.842464,0.777672,0.833504,0.815724,0.813706,0.816614,0.022267,10
5,0.476118,0.009021,0.017809,0.002889,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.860367,0.781562,0.860252,0.826789,0.840892,0.833972,0.029099,5
6,0.000000,0.000000,0.000000,0.000000,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
7,0.000972,0.000590,0.000000,0.000000,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
8,0.043781,0.006540,0.009752,0.007336,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.838536,0.756656,0.834419,0.800472,0.840885,0.814194,0.032289,11
9,0.477509,0.005201,0.015605,0.000048,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.858589,0.777636,0.868479,0.832930,0.841434,0.835814,0.031655,1
10,0.047118,0.001529,0.008351,0.007071,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.847108,0.768390,0.841965,0.820725,0.817090,0.819056,0.027876,8
11,0.469779,0.013112,0.020430,0.009474,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.861512,0.784387,0.860985,0.831588,0.837129,0.835120,0.028128,2
12,0.000000,0.000000,0.000000,0.000000,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
13,0.000000,0.000000,0.000000,0.000000,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
14,0.050208,0.006152,0.003125,0.006250,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.840353,0.762782,0.844900,0.812274,0.839155,0.819893,0.030772,7
15,0.526924,0.008312,0.015627,0.000003,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.855312,0.780773,0.863475,0.828766,0.843616,0.834388,0.029241,4
16,0.052244,0.008711,0.009375,0.007655,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.847485,0.752522,0.836699,0.809680,0.823523,0.813982,0.033243,12
17,0.481611,0.035168,0.012509,0.006254,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.857217,0.779668,0.865660,0.831872,0.838515,0.834587,0.030055,3

In [12]:
age_input = int(input("Age: "))
bmi_input = float(input("BMI: "))
children_input = int(input("Children: "))
sex_male_input = int(input("Sex Male 0 or 1: "))
smoker_yes_input = int(input("Smoker yes 0 or 1: "))

Age: 19
BMI: 27.9
Children: 0
Sex Male 0 or 1: 0
Smoker yes 0 or 1: 1

In [13]:
new_data = [[age_input, bmi_input, children_input, sex_male_input, smoker_yes_input]]

In [14]:
new_data_standardized = sc.transform(new_data)

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [15]:
Future_Prediction = grid.predict(new_data_standardized)
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[50109.5749869]

In [16]:
import pickle
fileName="finalized_model_GridRandomForest_Sc.sav"
pickle.dump(grid, open(fileName, 'wb'))

In [17]:
loaded_model=pickle.load(open("finalized_model_GridRandomForest_Sc.sav", 'rb'))
result=loaded_model.predict(sc.transform([[23, 20.7, 0, 1, 0]]))

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [18]:
result

array([14543.7322999])