In [1]:
#importing the libraries
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset
dataset = pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset = pd.get_dummies(dataset, drop_first = True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [6]:
independent = dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent = dataset[['charges']]

In [7]:
#Standardisation
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
#to calculate mean and variance
independent = sc.fit_transform(independent)
independent = sc.transform(independent)

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [8]:
#GridSearch
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['squared_error', 'friedman_mse', 'poisson'], 'max_features':['auto', 'sqrt', 'log2'], 'n_estimators':[10, 100]}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3, n_jobs = -1) 
#fitting the model for grid search
grid.fit(independent, dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
30 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
29 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.81458726 0.83432895 0.82054908 0.83302013
        nan        nan 0.81885203 0.8327247  0.82081357 0.83441943
        nan        nan 0.8176235  0.83353291 0.81729607 0.83439779]
  warnings.warn(
C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [9]:
#print best parameter after tuning
#print(grid.best_params_)
result = grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 100}:

In [10]:
table = pd.DataFrame.from_dict(result)

In [11]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001798,0.002913,0.000000,0.000000,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
1,0.000379,0.000464,0.000000,0.000000,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
2,0.062657,0.008900,0.004580,0.003243,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.836670,0.757905,0.846829,0.814569,0.816964,0.814587,0.030808,12
3,0.469553,0.006542,0.014422,0.002847,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.857691,0.777785,0.860989,0.834110,0.841070,0.834329,0.029997,3
4,0.051697,0.001771,0.002701,0.002293,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.840478,0.762186,0.862508,0.807883,0.829690,0.820549,0.034082,8
5,0.467049,0.010517,0.016182,0.003588,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.859123,0.775940,0.862133,0.829633,0.838272,0.833020,0.031068,5
6,0.000196,0.000392,0.000000,0.000000,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
7,0.000288,0.000357,0.000000,0.000000,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
8,0.048221,0.001539,0.002920,0.003019,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.845433,0.759035,0.852337,0.813549,0.823906,0.818852,0.033044,9
9,0.476423,0.007085,0.013857,0.001274,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.858966,0.775313,0.857794,0.832718,0.838833,0.832725,0.030498,6
10,0.053231,0.005414,0.002924,0.002507,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.850436,0.762003,0.840042,0.820405,0.831181,0.820814,0.031028,7
11,0.481046,0.008411,0.014895,0.002360,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.860972,0.779677,0.864610,0.831810,0.835028,0.834419,0.030399,1
12,0.001114,0.001734,0.000000,0.000000,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
13,0.000000,0.000000,0.000000,0.000000,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
14,0.054699,0.003258,0.002905,0.002944,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.835551,0.763153,0.829405,0.827423,0.832586,0.817624,0.027376,10
15,0.523488,0.003242,0.016268,0.002702,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.859598,0.777735,0.859972,0.832111,0.838249,0.833533,0.030054,4
16,0.056079,0.002002,0.003267,0.002068,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.835333,0.764473,0.850078,0.809868,0.826729,0.817296,0.029443,11
17,0.478991,0.037486,0.010768,0.009069,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.858538,0.781213,0.864541,0.828613,0.839084,0.834398,0.029582,2

In [12]:
age_input = int(input("Age: "))
bmi_input = float(input("BMI: "))
children_input = int(input("Children: "))
sex_male_input = int(input("Sex Male 0 or 1: "))
smoker_yes_input = int(input("Smoker yes 0 or 1: "))

Age: 19
BMI: 27.9
Children: 0
Sex Male 0 or 1: 0
Smoker yes 0 or 1: 1

In [13]:
new_data = [[age_input, bmi_input, children_input, sex_male_input, smoker_yes_input]]

In [14]:
new_data_standardized = sc.transform(new_data)

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [15]:
Future_Prediction = grid.predict(new_data_standardized)
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[48668.2039837]