In [1]:
#importing the libraries
import numpy as np #for array and matrices
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset
dataset = pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset = pd.get_dummies(dataset, drop_first = True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [6]:
independent = dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent = dataset[['charges']]

In [7]:
#split into training set and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(independent, dependent, test_size = 0.30, random_state = 0)

In [8]:
#Standardisation
from sklearn.preprocessing import StandardScaler
sc = StandardScaler() 
#to calculate mean and variance
x_train = sc.fit_transform(x_train) #transform: to assign the transform values to x_train
x_test = sc.transform(x_test)

In [9]:
#GridSearch
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['squared_error', 'friedman_mse', 'poisson'], 'max_features':['auto', 'sqrt', 'log2'], 'n_estimators':[10, 100]}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3, n_jobs = -1) 
#fitting the model for grid search
grid.fit(x_train, y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
30 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
9 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
21 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.78585791 0.81198006 0.79761502 0.81261808
        nan        nan 0.79034297 0.8133408  0.79394985 0.81085217
        nan        nan 0.79367943 0.81498415 0.78407472 0.81162005]
  warnings.warn(
C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [10]:
#print best parameter after tuning
#print(grid.best_params_)
result = grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'poisson', 'max_features': 'sqrt', 'n_estimators': 100}:

In [11]:
table = pd.DataFrame.from_dict(result)

In [12]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001596,0.001954,0.000000,0.000000,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
1,0.000937,0.001209,0.000000,0.000000,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
2,0.049947,0.002438,0.006601,0.005583,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.849259,0.773741,0.790615,0.784912,0.730762,0.785858,0.038015,11
3,0.442323,0.008348,0.020612,0.008285,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.861022,0.791330,0.811799,0.827626,0.768123,0.811980,0.031622,4
4,0.051758,0.004828,0.003972,0.003315,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.845740,0.777377,0.807886,0.805677,0.751395,0.797615,0.031725,7
5,0.456974,0.001675,0.016546,0.001246,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.864270,0.801122,0.804532,0.829119,0.764047,0.812618,0.033157,3
6,0.001227,0.001470,0.000000,0.000000,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
7,0.000812,0.001225,0.000000,0.000000,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
8,0.044774,0.005905,0.008589,0.003673,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.850316,0.770364,0.784610,0.786255,0.760169,0.790343,0.031483,10
9,0.459549,0.008425,0.017598,0.005164,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.865845,0.787967,0.814564,0.829271,0.769057,0.813341,0.033517,2
10,0.049936,0.003420,0.000201,0.000402,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.861975,0.780241,0.782663,0.782538,0.762332,0.793950,0.034850,8
11,0.452633,0.009639,0.016449,0.001240,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.864375,0.789001,0.810734,0.821846,0.768306,0.810852,0.032475,6
12,0.001103,0.002206,0.000000,0.000000,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
13,0.000801,0.001602,0.000000,0.000000,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
14,0.052343,0.004967,0.008185,0.006590,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.846662,0.778631,0.789657,0.805136,0.748311,0.793679,0.032371,9
15,0.490263,0.008597,0.015587,0.001960,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.860838,0.799022,0.817224,0.830392,0.767445,0.814984,0.031176,1
16,0.056701,0.003030,0.001201,0.002403,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.846806,0.769151,0.780976,0.769784,0.753657,0.784075,0.032548,12
17,0.491778,0.013953,0.019739,0.005957,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.860408,0.787855,0.810673,0.825141,0.774023,0.811620,0.030141,5

In [13]:
age_input = int(input("Age: "))
bmi_input = float(input("BMI: "))
children_input = int(input("Children: "))
sex_male_input = int(input("Sex Male 0 or 1: "))
smoker_yes_input = int(input("Smoker yes 0 or 1: "))

Age: 19
BMI: 27.9
Children: 0
Sex Male 0 or 1: 0
Smoker yes 0 or 1: 1

In [14]:
new_data = [[age_input, bmi_input, children_input, sex_male_input, smoker_yes_input]]

In [15]:
new_data_standardized = sc.transform(new_data)

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [16]:
Future_Prediction = grid.predict(new_data_standardized)
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[17067.7094955]