In [2]:
#pandas is a Library and it contains the functions related to the database
import pandas as pd

In [3]:
#calling the data set and assigned it to the dataset variable
dataset=pd.read_csv("Salary_Data.csv")

In [4]:
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [5]:
#Split Input
independent=dataset[["YearsExperience"]]
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [6]:
#Split Output
dependent=dataset[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [7]:
#Split train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [8]:
#Model Creation or Learning
from sklearn.linear_model import LinearRegression #procedure
regressor=LinearRegression() #procedure
regressor.fit(X_train, y_train) 
#after executing this line there will be the weight(w) and the bias(b) found or The Model created.

LinearRegression()

In [9]:
#checking the weight(w)
weight=regressor.coef_
weight

array([[9360.26128619]])

In [10]:
#checking the bias(b)
bias=regressor.intercept_
bias

array([26777.3913412])

In [11]:
#Evaluation Metrics
#for testing
y_pred=regressor.predict(X_test)

In [12]:
#finding R^2 Value
from sklearn.metrics import r2_score
r_score=r2_score(y_test, y_pred)

In [13]:
r_score

0.9740993407213511

In [14]:
#save the best model
import pickle
fileName="finalized_model_linear.sav"
#ctreating a file to save the model

In [15]:
#save the model in to the created file
pickle.dump(regressor, open(fileName, 'wb')) #wb: write binary

In [17]:
#Load the saved model
loaded_model=pickle.load(open("finalized_model_linear.sav", 'rb')) #rb: read binary
#input the value to be predict
result=loaded_model.predict([[int(input("Enter the years of Experience: "))]])

Enter the years of Experience: 0

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [26]:
result

array([[260783.92349604]])